<mat-toolbar color="primary">
  <span>Admin homepage</span>
  <a mat-button id="create-layout" routerLink="create-layout">create new layout</a>
  <a mat-button id="view-layout" routerLink="view-layouts" >view layouts</a>
  <span class="fill-space"></span>
  <a id="logout" mat-button (click)="logout()">Logout</a>
</mat-toolbar>
<router-outlet></router-outlet>
