$font-stack: Helvetica, sans-serif
$primary-color: white

body
  font: 100% $font-stack
  color: $primary-color
h1 
  width:500px
  margin: 0 auto
  background: gray
  text-align: center

.row
  width: 100%
  padding: 0
  margin: 0

.quad
  border: 1px solid black
  border-radius: 8px
  border-color: white
  width: 99%
  padding: 0
  margin: 0
  height: 300px
  float: left
  display: flex

#filterDiv
  border: 1px solid black
  border-radius: 8px
  border-color: white
  width: 30%
  padding: 0
  padding-left: 10px
  height: 100%
  float: left

#OrderDetailsDiv
  border: 1px solid black
  border-radius: 8px
  overflow-y: scroll
  border-color: white
  width: 60%
  padding: 0
  height: 100%
  float: left

.AddItemToMenu
  width: 70%
  height: 100%
  border-left: 1px solid white

/**#inputNote
  margin: 0 0 0 0
  padding: 0 0 0 0
  height: 30%
  width: 85%
  resize: none
  margin-left: 5%*/

#noteButton
  margin-left: 40%
  margin-right: 40%
  margin-top: 10%
  padding: 0 0 0 0
  width: 20%
  height: 10%
  color: Black
  text-decoration-style: solid
  text-align: center
  

.AddNoteDiv
  width: 30%
  height: 100%


.example-card
  width: 100px
  height: 50px


.scrolable-div
  display: flex
  flex-wrap: wrap 
  overflow-y: auto
  width: 100%
  height: 100%

.card-divs
  padding-top: 10px
  padding-right: 10px
  padding-bottom: 10px
  padding-left: 10px


.buttonF:hover
  background-color: #f7fafa

.buttonF:focus
  border-color: #008296
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0
  outline: 0

select
  height: 30px
  background-color: #fff
  border: 1px solid #d5d9d9
  border-radius: 8px
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0
  box-sizing: border-box
  color: #0f1111
  cursor: pointer
  display: inline-block
  font-family: "Amazon Ember",sans-serif
  font-size: 10px
  line-height: 29px
  padding: 0 0px 0 0px
  position: relative
  text-align: center
  text-decoration: none
  user-select: none
  -webkit-user-select: none
  touch-action: manipulation
  vertical-align: middle

table
  width: 100%
  word-break: break-all
  border-style: solid
  text-align: center

th
  background-color: #6b726a

#Xbutton
  color: red


#EditButton
  color: white
  background-color: transparent
  border-width: 0

#noteAddItem
  width: 100%

input[type="button"]
    border-radius: 3px
    padding: 5px

