
    <h1>MENU UPDATE</h1>
    <div class="row">
        <div class="quad" id="showItems">
        <div id="filterDiv">
            <br /><br />
            <h2 id="filteH2">Filtering</h2>
            <br /><br />
            <label for="sCategory">By Category</label><br />
            <select id="sCategory" (change)="selectChangeHandlerCategory($event)" >
                <option selected value="ALL" >ALL</option>
                <option value="DRINK">Drinks</option>
                <option value="DISH">Dish</option>
            </select>

            <br /><br />
            <label for="sSubCategory">By SubCategory</label><br />
            <select id="sSubCategory" (change)="selectChangeHandlerSubcategory($event)">
            <option selected value="ALL" >ALL</option>
            <option *ngFor="let s of SubCategory"
                [value]="s">
                {{s}}
            </option>
        </select>


        </div>
            <div class="scrolable-div">
                <div class="card-divs" *ngFor="let num of filterItemList;trackById">
                    <mat-card class="example-card" id="card{{num.idItem}}" (click)="onCardClick($event, num)" #card{{num.idItem}}>
                        <mat-card-title>{{num.itemName}}</mat-card-title>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="quad" id="showItems">
            <div id="OrderDetailsDiv">
            <h3 style="text-align: center;background-color: gray;">Active menu</h3>
            <table id="table-data">
            <tr>
                <th>
                    Item name
                </th>
                <th>
                    Price
                </th>
                <th>
                    Subcategory
                </th>
                <th>
                    Status
                </th>
                <th>
                    Date from active
                </th>
                <th>
                    Date to active
                </th>
            </tr>
            <tr *ngFor="let priceList of activeMenuFilter; let i=index">
                    <!--<td>{{priceList.item.itemName}}</td>-->
                    <td>{{priceList.item.itemName}}</td>
                    <td>{{priceList.itemPrice}}  <input id="EditButton"  (click)="onChangePriceOfItem($event, priceList)" type="button" value="✎" />  </td>
                    <td>{{priceList.item.subcategory}}</td>
                    <td>{{priceList.active}}</td>
                    <td>{{priceList.dateTo}}</td>
                    <td>{{priceList.dateFrom}}</td>

                    <td><input id="Xbutton" type="button" value="X" (click)="logicalDeleteItem($event, priceList)" /></td>

                   <!-- <td>{{priceList.itemPrice}}<input id="EditButton" *ngIf="oItem.orderedItemStatus=='WAITING'" (click)="onEditItem($event, oItem.id)" type="button" value="✎" /></td>
                    <td>{{priceList.itemPrice}}</td>
                    <td>{{oItem.orderedItemStatus}}</td>
                    <td>{{oItem.quantity * oItem.price}}</td>
                    <td><input id="Xbutton" type="button" value="X" *ngIf="oItem.orderedItemStatus=='WAITING'||oItem.orderedItemStatus=='PREPARING'" (click)="cancelItem($event, oItem)" /></td>
                   -->
            </tr>
            </table>

            </div>

            <div class="AddItemToMenu">
                <h3 id = "noteAddItem"style="text-align: center;background-color: gray;" *ngIf="isInputHidden">Add item to menu</h3><br />
                <p style="font-weight: bold;font-size: 50px;text-align: center;" *ngIf="isInputHidden"> {{toAddItemDisplay.itemName}} </p>
                <p style="font-size: 10px;margin-left: 5%;font-style: italic;" *ngIf="isInputHidden" >{{toAddItemDisplay.description}}</p>
                <p style="font-size: 20px;margin-left: 5%;" *ngIf="isInputHidden">Alergens: {{toAddItemDisplay.alergenList}}</p>
                <label for="inputQuantity"  style="font-size: 20px;margin-left: 5%;" *ngIf="isInputHidden">Price of item: </label>
                <input style="margin-left: 1%;width: auto;" *ngIf="isInputHidden" (change)="changePrice($event)" id="inputPrice"  type="text" />
                <input style="width: 10%;margin-left: 5%;" *ngIf="isInputHidden" (click)="addItemToMenu($event)" type="button" name="Add" value="Add item" />
            </div>
            <!--
                <div class="OrderItemAdd">
                <h3 style="text-align: center;background-color: gray;">Item to order</h3><br />
                <p style="font-weight: bold;font-size: 50px;text-align: center;" *ngIf="isInputHidden">{{ToOrderedItemDisplay.itemName}}</p>
                <p style="font-size: 10px;margin-left: 5%;font-style: italic;"  *ngIf="isInputHidden">{{ToOrderedItemDisplay.description}}</p>
                <p style="font-size: 20px;margin-left: 5%;" *ngIf="isInputHidden">Alergens: {{ToOrderedItemDisplay.alergenList}}</p>
                <label for="inputQuantity" *ngIf="isInputHidden" style="font-size: 20px;margin-left: 5%;" >Quantity </label>
                <input style="margin-left: 1%;width: auto;" (change)="changeQuantity($event)" id="inputQuantity" value="{{quantity}}" *ngIf="isInputHidden" max="100" step="1" type="number" min="1" />
                <input style="width: 10%;margin-left: 5%;" (click)="addItemToOrder($event)" type="button" name="Add" value="Add" *ngIf="isInputHidden"/>
            </div>
            -->
        </div>
    </div>
    <!--<p id="TotalPriceP" style="text-align: right;font-size: 60px;margin-right: 3%;">TOTAL PRICE: {{TotalPrice}}</p>
    <input class="mainButtons" type="button" value="BACK" style="width: 10%; height: 50px;margin-left: 1%;border-radius: 10%; border-width: 0;" (click)="goBack($event)" />

    <input class="mainButtons" type="button" value="FINISH" style="width: 10%; height: 60px;margin-left: 75%;border-radius: 10%; border-width: 0;font-weight: bold;font-size: large;background-color: greenyellow;" (click)="finish($event)"/><br />
    <input class="mainButtons" type="button" value="CANCEL" style="width: 10%; height: 25px;margin-left: 86%;margin-top: 1%; border-width: 0;font-weight: bold;font-size: large;background-color: rgb(214, 66, 66);" (click)="cancelALL($event)" />
    -->
