.horisontal-center
  margin: 0
  left: 50%
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

.logout-button
  margin: 0
  left: 50%
  border-radius: 5%
  border-width: 0
  margin-top: 25%
  margin-left: 45%
  margin-right: 45%
  width: 10%
  height: 50px
  font-size: 15px
  font-weight: bold
  background-color: red

.select-button
  margin: 0
  left: 75%
  margin-left: 55%
  background-color: rgb(158, 11, 151)

.tabs-style
  margin: 0
  width: 150%
  font-size: 20px
  font-weight: bold

.text-style
  color: darkorchid
  font-family: "Amazon Ember",sans-serif
  font-size: 25px