<mat-tab-group class="tabs-style">
    <mat-tab id="waitingTab" label="Waiting">
        <tr id="waitDishTab" *ngFor="let dish of WaitingDishes; let index=index ">
            <td class="text-style"><b>{{dish.quantity + " " + dish.menuItem.itemName + " - " + dish.order.note}}</b></td>
            <td><input id="PrepareButton{{index}}" class="prepare-button" type="button" value="PREPARE" (click)="startPreparing(dish)"/></td>

        </tr>
    </mat-tab>
    <mat-tab id="inPreparationTab" label="In Preparation">
        <tr id="prepDishTab" *ngFor="let dish of PreparingDishes; let index1=index">
            <td class="text-style"><b>{{dish.quantity + " " + dish.menuItem.itemName + " - " + dish.order.note}}</b></td>
            <td><input id="FinishButton{{index1}}"  class="finish-button" type="button" value="FINISH" (click)="donePreparing(dish)"/></td>

        </tr>
          
    </mat-tab>
</mat-tab-group>
<p><input class="logout-button" id="LogoutButton" type="button" value="Logout" (click)="logout()"/></p>

  