#OrderDetailsDiv
  border: 1px solid black
  border-radius: 8px
  overflow-y: scroll
  border-color: white
  width: 100%
  padding: 0
  height: 500px
  float: left
  background: grey

table
  width: 100%
  word-break: keep-all
  border-style: solid
  text-align: center
  background: black
  border-color: black
  font-size: 30px

th
  color: black
  background-color: #6b726a  
tr,th,td
  height: 50px

#Xbutton
  height: 100%
  width: 20%
  margin: 0 0 0 0

#Pbutton
  height: 100%
  width: 80%
  margin: 0 0 0 0