<div id="OrderDetailsDiv">
    <h3 style="text-align: center;background-color: gray;font-size: 50px;margin-top: 1%;margin-bottom: 1%;height: 10%;">Ordered Drinks</h3>
    <table id="table-data">
    <tr>
        <th>
            Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Status
        </th>
        <th>
            Note
        </th>
    </tr>
    <tr *ngFor="let oItem of waitingItems; let i=index">
            <td>{{oItem.menuItem.itemName}}</td>
            <td>{{oItem.quantity}}</td>
            <td>{{oItem.orderedItemStatus}}</td>
            <td>{{oItem.order.note}}</td>
            <td><input id="Pbutton" type="button" value="Start preparing" (click)="prepareItem($event, oItem)"/><input id="Xbutton" (click)="cancelItem($event, oItem)" type="button" value="Cancel" /></td>
    </tr>
    </table>
    </div>
    <input id="back" style="width: 20%;height: 50px;margin-top: 1%;font-size: 40px;" type="button" value="BACK" (click)="goBack($event)"/>