<p>meni-change-item-price works!</p>
<div>
    <h1 style="color: white;text-align: center;">Edit price!<br /><br />{{itemToChangePrice.item.itemName}}</h1><br />
    <form>

        <input type="number"  (change)="onChangeItemPriceInputField($event)" value="{{itemToChangePrice.itemPrice}}" id="priceChangeField" style="position: center;margin: auto;" required/>
        
        <input type="button" (click)="cancelIt($event)"  style="color: tomato;" value="cancel" />
        
        <input  type="button" (click)="saveChangedPrice($event)" style="color: yellowgreen;" value="save" />

    </form>
</div>