<mat-toolbar color="primary">
  <span>Manager homepage</span>
  <a mat-button id="manage-users" routerLink="manage-users">manage users</a>
  <a mat-button id="update-salary" routerLink="update-salary">update salary</a>
  <a mat-button >manage pricelists</a>
  <a mat-button routerLink="add-item"> add dish</a>
  <a mat-button routerLink="add-drink"> add drink</a>
  <a mat-button routerLink="menu-update"> manage menu</a>
  <span class="fill-space"></span>
  <a id="logout" mat-button (click)="logout()">Logout</a>
</mat-toolbar>
<router-outlet></router-outlet>
