input[type="number"]
    width: 500px
    height: 100px
    font-size: 100px
    text-align: center
    position: relative
    display: block
    margin : 0 auto

input[type="number"]:hover::-webkit-inner-spin-button 
    width: 600px
    height: 100px

input[type="button"]
    width: 200px
    height: 50px
    font-size: 30px
    text-align: center
    position: relative
    display: block
    margin : 0 auto

div
    margin-top: 10%
        