<div>
<h1 style="color: white;text-align: center;">Edit quantity!<br /><br />{{OrderedItem.menuItem.itemName}}</h1><br />
<form>
<input type="number" (change)="changeFn($event)" value="{{OrderedItem.quantity}}" min="1" step="1" style="position: center;margin: auto;" required/>
<input type="button" (click)="cancelIt($event)" style="color: tomato;" value="cancel" /><input (click)="saveIt($event)" type="button" style="color: yellowgreen;" value="save" />
</form>
</div>