
<div class="svg-container" appDroppable>
  <svg id="dropzone" height="100%" width="100%">
    <ng-container *ngFor="let table of tables;let index=index">
      <circle id="{{table.id}}"  r="25" stroke="black" [attr.cx]="table.x" [attr.cy]="table.y" [attr.draggable]="true"
              (dblclick)="deleteTable($event)" (mouseup)="tablePositionChange($event)" (click)="viewTable()"
      />
      <text fill="black" [attr.x]="table.x" [attr.y]="table.y" [attr.font-size]="15">T{{table.id}}</text>
    </ng-container>
  </svg>
</div>
<div class="buttons">
  <button mat-raised-button color="primary" (click)="addNewTable()">add circle</button>
  <button mat-raised-button color="primary" (click)="createNewLayout()">save layout</button>
</div>
