<h1 style="text-align: center;color: honeydew;margin-top: 10%;font-size: 50px;">BAR HOMEPAGE</h1>
<input (click)="waitingOrders($event)" type="button" value="Drinks to prepare" style="border-radius: 5%;border-width: 0; margin-top: 1%;margin-left: 35%;margin-right: 35%; width: 30%;height: 100px;font-size: 30px; font-weight: bold;" /><br />
<input (click)="preparingOrders($event)" type="button" value="Preparing drinks"  style="border-radius: 5%;border-width: 0; margin-top: 1%;margin-left: 35%;margin-right: 35%; width: 30%;height: 100px;font-size: 30px; font-weight: bold;" /><br /><br /><br /><br />
<input (click)="logOut()" type="button" value="Log out"  style="border-radius: 5%;border-width: 0; margin-top: 1%;margin-left: 45%;margin-right: 45%; width: 10%;height: 50px;font-size: 15px; font-weight: bold;" />
