<mat-tab-group>
  <mat-tab label="View employees">
    <mat-selection-list [multiple]="false">
      <mat-list-option [id]="user.id" *ngFor="let user of datasource">
        {{user.firstName + ' ' + user.lastName}}
      </mat-list-option>
      <mat-paginator [length]="length"
                     [pageSize]="3"
                     [pageSizeOptions]="[3, 10]"
                     (page)="pageEvent = getPageData($event)"
                     aria-label="Select page">
      </mat-paginator>
    </mat-selection-list>
  </mat-tab>
  <mat-tab label="Add new employee">
    <form [formGroup]="form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>New employee first name:</mat-label>
        <input matInput id="firstname-field" formControlName="firstName">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>New employee last name:</mat-label>
        <input matInput id="lastname-field" formControlName="lastName">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>New employee salary:</mat-label>
        <input matInput id="salary-field" formControlName="salary" appOnlyNumbers>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>New employee username:</mat-label>
        <input matInput id="username-field" formControlName="email">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>New employee role:</mat-label>
        <mat-select id="role-field" formControlName="role">
          <mat-option value="Admin">Admin</mat-option>
          <mat-option value="Manager">Manager</mat-option>
          <mat-option value="Cook">Cook</mat-option>
          <mat-option value="Bartender">Bartender</mat-option>
          <mat-option value="Waiter">Waiter</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button id="add-user-btn" (click)="addNewEmployee()">Add employee</button>
    </form>
  </mat-tab>
  <mat-tab label="Delete employee">
    <mat-selection-list [multiple]="false" (selectionChange)="deleteEmployee($event)">
      <mat-list-option id="{{'user' + user.id}}" *ngFor="let user of users">
        {{user.firstName + ' ' + user.lastName}}
      </mat-list-option>
    </mat-selection-list>
  </mat-tab>
</mat-tab-group>



