mat-form-field
  width: 400px
  left: 30%
  margin: 50px auto 10px auto

.svg-container
  border: 3px dashed #000
  background-color: #CCC
  width: 80%
  height: 70%
  margin: 50px auto 20px auto

button
  left: 40%
