<mat-form-field appearance="fill">
  <mat-label>Select layout:</mat-label>
  <mat-select [(ngModel)]="selectedLayoutId" (ngModelChange)="selectedLayoutChanged()">
    <mat-option *ngFor="let layout of layouts" [value]="layout.id">
      {{'layout ' + layout.id}}
      <mat-icon *ngIf="layout.active">check_circle</mat-icon>
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button (click)="setSelectedLayoutActive()">set as active</button>

<div class="svg-container">
  <svg id="dropzone" height="100%" width="100%">
    <ng-container *ngFor="let table of selectedLayoutTables">
      <circle id="{{table.id}}"  r="25" stroke="black" fill="green" [attr.cx]="table.x" [attr.cy]="table.y"/>
      <text fill="black" [attr.x]="table.x" [attr.y]="table.y" [attr.font-size]="15">T{{table.id}}</text>
    </ng-container>
  </svg>
</div>
