<h1>Restoran</h1>
<div class="svg-container" >
  <svg id="dropzone" height="100%" width="100%">
    <ng-container *ngFor="let table of tables">
      <circle id="{{table.id}}"  r="25" stroke="black" fill="green" [attr.cx]="table.x" [attr.cy]="table.y"
          (click)="redirectToTable(table.id)"
      />
      <text fill="black" [attr.x]="table.x" [attr.y]="table.y" [attr.font-size]="15">T{{table.id}}</text>
    </ng-container>
  </svg>
</div>
<div class="buttons">
  <button mat-raised-button id="logoutButton" color="primary" (click)="logout()" >logout</button>
<!--  <button mat-raised-button color="primary" >save layout</button>-->
</div>
