
<form class="my-form"  [formGroup]="itemForm" (submit)="onSubmit()">
    <div class="container">
      <h1 class="naslov">ADD NEW DRINK</h1>
      <ul>
        <!--<li > 
            <select>
                <option selected disabled>-- Please choose an option --</option>
                <option>Request Quote</option>
                <option>Send Resume</option>
                <option>Other</option>      
            </select>
            <br>
        </li> -->   
        <li>
            <div class="grid grid-2">
                <div>
                    <span>
                        <label for ="name">   Item name: </label> 
                        <br>
                        <input type="text" placeholder="Item name" id ="name" formControlName="itemName" required>
                        <small
                            class="text-danger"
                            *ngIf="
                                 itemForm.controls.itemName.touched &&
                                 itemForm.controls.itemName.errors?.required &&
                                 itemForm.controls.itemName.errors?.minlength                                 ">
                                 Item name is required..
                        </small>
                    </span>
                    
                </div>
                <div>
                    <span>
                        
                        <label for="sSubCategory">Subcategory: </label><br />
                        <select id="sSubCategory" formControlName="category" (change)="selectChangeHandlerS($event)" >
                            <option selected value="" ></option>
                            <option *ngFor="let s of SubCategory" 
                                [value]="s">
                                {{s}}
                            </option>
                        </select> 

                        <small
                            class="text-danger"
                            *ngIf="
                                 itemForm.controls.category.touched &&
                                 itemForm.controls.itemName.errors?.required">
                                 Selecting category is required..
                        </small>
                        
                    </span>
                    
                </div>
               
               
            </div>
            <br>
        </li>    
        
       

        <li>
            <div>
                <span>
                    <label for="description">Description</label>
                    <br>
                    <textarea placeholder="Description of item.." id="description" formControlName="description"></textarea>
                    <small
                            class="text-danger"
                            *ngIf="
                                 itemForm.controls.description.touched &&
                                 itemForm.controls.itemName.errors?.required">
                                 Description of item is required..
                        </small>
                    <br>
                </span>
            </div>
            <br>
        </li>    
        
        <li>
            <div class="grid grid-2">
                <div>
                    <span>
                        <label for ="purchasePrice"> Purchase price: </label> 
                        <br>
                        <input type="text" placeholder="Purchase price" id ="purchasePrice" formControlName="purchasePrice" required>      
                        
                        <small
                            class="text-danger"
                            *ngIf="
                                 itemForm.controls.purchasePrice.touched &&
                                 itemForm.controls.itemName.errors?.required">
                                 Purchase price is required...
                        </small>
                    </span>
                    
                </div>
                <br>
               
               
            </div>
            <br>
        </li>  
        <li>
            <p>Please select type of selling price: </p>

            <input type="radio" id="lux" name="lux" value="lux" 
                formControlName="lux"  
                
                (change)="handleChangeRadioButton($event)" >
            <label for="lux">lux price</label>
            
            <input type="radio" id="regular" name="regular" value="regular" 
                formControlName="regular" 
                
                (change)="handleChangeRadioButton($event)" >
            <label for="regular">regular price</label><br>
              
        </li>

        <li>
            <div >
                <!--class="grid grid-3-->
                <button class="btn-grid" type="submit" 
                [disabled]="itemForm.invalid"
                >
                  
                  Submit
                </button>
            </div>
        </li>
      </ul>
    </div>
  </form>