:root 
  --white:#afafaf
  --red:#e31b23
  --bodyColor:#292a2b
  --borderFormEls:hsl(0, 0%, 10%)
  --bgFormEls:#e31b23
  --bgFormElsFocus:hsl(0, 7%, 20%)


* 
  padding: 0
  margin: 0
  box-sizing: border-box
  outline: none


a 
  color: inherit


input, select, textarea 
  font-family: inherit
  font-size: 100%
  border-radius: 25px
  border: 2px solid  black//#73AD21
  padding: 1%


button 
  font-family: inherit
  font-size: 100%
  cursor: pointer
  border-radius: 5px
  border: 2px solid  black
  padding: 1%


label 
  cursor: pointer


select 
  appearance: none

  &::-ms-expand 
    display: none
  

  &:-moz-focusring 
    color: transparent !important
    text-shadow: 0 0 0 var(--white)
  


textarea 
  resize: none


ul 
  list-style: none




@media screen and (min-width: 600px) 
  .my-form .grid 
    display: grid
    grid-gap: 1.5rem
  
  
  .my-form .grid-2 
    grid-template-columns: 1fr 1fr 
  

  .my-form .grid-3 
    grid-template-columns: auto auto auto
    align-items: center


.my-form button 
    width: 30% 
    line-height: 1 
    padding: 15px 10px 
    border: 2px solid black//var(--borderFormEls) 
    color: black
    background: white // var(--bgFormEls) 
    float: right
    //transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25
    
    

//odstojanje forme od ivice stranice
.my-form 
    padding: 50px 150px

//ukljucujemo odstojanje medju elementima
//.grid grid-2
//    padding:20

//uljucujemo boju pozadine forme  
.container
    background-color: #E18A07
    padding:100px
    border-radius: 20px

.naslov
    //text-align: center

input[type="text"]
    width: 100%


textarea
    width: 100%


select 
    width: 100%

//za ispis poruka o gresci
.text-danger
  background-color: width
  border: 2px solid red
  width: 200px
  height: 10%
