<mat-form-field appearance="fill">
  <mat-label>Select user:</mat-label>
  <mat-select [(ngModel)]="selectedUser">
    <mat-option *ngFor="let user of users" [value]="user">
      {{user.firstName + ' ' + user.lastName}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-card *ngIf="selectedUser">
  <mat-card-content>
    Users current salary: {{selectedUser.salary}} dinara
    <form [formGroup]="form" >
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>New salary:</mat-label>
        <input matInput formControlName="newSalary" appOnlyNumbers>
      </mat-form-field>
    </form >

  </mat-card-content>
  <mat-card-actions>
    <button mat-button  (click)="updateSalary()">update salary</button>
  </mat-card-actions>
</mat-card>
