<div id="OrderDetailsDiv">
    <h3 style="text-align: center;background-color: gray;font-size: 50px;margin-top: 1%;margin-bottom: 1%;height: 10%;">Preparing Drinks</h3>
    <table id="table-data">
    <tr>
        <th>
            Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Status
        </th>
        <th>
            Note
        </th>
        <th>
            About
        </th>
    </tr>
    <tr *ngFor="let oItem of preparingItems; let i=index">
            <td>{{oItem.menuItem.itemName}}</td>
            <td>{{oItem.quantity}}</td>
            <td>{{oItem.orderedItemStatus}}</td>
            <td style="width: 20%;font-size: 20px;"><div style="width: 100%;height: 100%;margin: 0;padding: 0;overflow: auto;">{{oItem.order.note}}</div></td>
            <td style="width: 20%;font-size: 20px;"><div style="width: 100%;height: 100%;margin: 0;padding: 0;overflow: auto;">{{oItem.menuItem.description}}</div></td>
            <td><input id="Pbutton" type="button" value="DONE" (click)="doneItem($event, oItem)"/><input id="Xbutton" (click)="cancelItem($event, oItem)" type="button" value="Cancel" /></td>
    </tr>
    </table>
    </div>
    <input id="back" style="width: 20%;height: 50px;margin-top: 1%;font-size: 40px;" type="button" value="BACK" (click)="goBack($event)"/>